header nav {
  display: flex;
  padding: 0.5rem 1.5rem;
  align-items: first baseline; }
  header nav div .logo img {
    width: 80px;
    height: 80px;
    border-radius: 30px;
    outline: 3px solid white; }
  header nav .items {
    display: flex;
    align-items: baseline;
    gap: 10px;
    border-radius: 20px;
    outline: 1px solid white;
    padding: 10px;
    font-size: 1rem; }
    header nav .items a:link {
      text-decoration: none;
      color: white;
      font-size: 1.5rem;
      font-weight: bold; }
    header nav .items a:hover {
      color: #fe0c09; }
    header nav .items .active {
      color: #fe0c09 !important; }

main section div .container {
  max-width: 90rem;
  margin: 2rem auto;
  padding: 0px 2rem; }

main section div .row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center; }

main section div .info {
  display: flex;
  flex-direction: column; }
  main section div .info .short-info {
    color: #fe0c09;
    font-size: 1.5rem;
    margin-bottom: 0.9rem; }
  main section div .info .hero-heading {
    font-size: 3rem;
    margin-bottom: 0.3rem; }
  main section div .info .hero-sub-heading {
    font-size: 0.9rem;
    opacity: 0.7; }
  main section div .info .user {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #fe0c09; }
  main section div .info button {
    font-size: 2rem;
    padding: 0.6rem 1rem;
    font-weight: bold;
    color: #fe0c09;
    background-color: linear-gradient(to right, #fe0c09, #032135);
    box-shadow: white 100, 100, 111, 0.2 0px 7px 29px 0px;
    border-radius: 10px;
    cursor: pointer;
    border: none; }
    main section div .info button:hover {
      background: white;
      outline: 1px solid #fe0c09;
      color: #fe0c09;
      border: none; }
  main section div .info .learn-more {
    align-self: start;
    margin-top: 3rem; }
  main section div .info .img-fluid {
    max-width: 100%; }
  main section div .info .users {
    display: flex;
    align-items: center;
    margin: 1rem 0px; }

/* estilo page PORTAL DE ADOPCIONES*/
.galeriadeimgs {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around; }

.tituloportal {
  margin: 2rem;
  padding: 2rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center; }

/*estilo page NOSOTROS*/
.nosotrostxt {
  margin: 30px;
  padding: 20px;
  line-height: 2;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: medium; }

/* estilo pagina zoonosis*/
h5 {
  margin: 1rem;
  padding: 1.5rem;
  justify-content: center;
  border-color: antiquewhite solid; }

h2 {
  font-weight: bold;
  color: #fe0c09;
  margin: 1rem;
  padding: 1.5rem;
  justify-content: center;
  border-color: antiquewhite solid;
  background-image: linear-gradient(to left, white, #032135); }

/*estilo pagina donaciones*/
h1 {
  margin: 1rem;
  padding: 1.5rem;
  justify-content: center;
  border-color: antiquewhite solid; }

h3 {
  margin: 1rem;
  padding: 1.5rem;
  justify-content: center;
  border-color: antiquewhite solid; }

h4 {
  margin: 1rem;
  padding: 1.5rem;
  justify-content: center;
  border-color: antiquewhite solid; }

footer {
  margin: 1rem;
  padding: 0.6rem;
  outline-color: #fe0c09;
  outline: 1px solid;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
  background-color: #032135; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  margin: 1rem;
  padding: 0.5rem;
  line-height: 1.5;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #032135;
  color: white; }

/* media queries */
@media screen and (min-width: 320px) {
  .items {
    display: none; }
  .row {
    grid-template-columns: 1fr; }
  .learn-more {
    align-self: start;
    margin: 1rem 0px; } }
