footer{
    margin: 1rem;
    padding: 0.6rem;
    outline-color: $rojo;
    outline: 1px solid;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:$blanco;
    background-color: $azul;

  }