
  header{
    nav {
        display: flex;
        padding: 0.5rem 1.5rem;
        align-items: first baseline;
        div{
          .logo img {
            width: 80px;
            height: 80px;
            border-radius: 30px;
            outline: 3px solid $blanco;
        }
          }
          .items {
            display: flex;
            align-items: baseline;          
            gap: 10px;
            border-radius: 20px;
            outline: 1px solid $blanco;
            padding: 10px;
            font-size: 1rem;
            & a:link {
                text-decoration: none;
                color: $blanco;
                font-size: 1.5rem;
                font-weight: bold;
              }
              
            & a:hover {
                color: $rojo;
              }
              
              .active {
                color: $rojo !important;
              }
              
          }

      }

  }


  

